.container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    height: 700px;
    justify-content: center;
    text-align: center;
}

#header {
    background-color: rgb(170, 59, 218);
    color: white;
    border: solid 2px black;
    width: 1310px;
    margin: auto;
}

#logoImg img {
    width: 100px;
}

#logoImg {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    list-style: none;
}

#menu li {
    margin: 0px 20px 0px 20px;
    border: solid 2px black;
    width: 100px;
    height: 30px;
    text-align: center;
    align-content: center;
    background-color: rgb(112, 134, 155);  
}

#menu li:hover {
    background-color: rgb(149, 153, 158);    
}

#menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#sidebarLeft {
    background-color: lightcyan;
    border: solid 2px black;
    width: 350px;
    align-content: center;
}

#sidebarRight {
    background-color: lightgreen;
    border: solid 2px black;
    width: 350px;
    align-content: center;
}

.mainContent {
    background-color: lightblue;
    border: solid 2px black;
    width: 600px;
    align-content: center;
}

#footer {
    background-color: lightcoral;
    border: solid 2px black;
    justify-content: center;
    width: 1310px;
    margin: auto;
    text-align: center;
}

#imgProdutos {
    display: flex;
    width: 350px;
}

#imgProdutos img {
    /* margin-left: 350px; */
    width: 350px;
}

#botao {
    display: flex;
    width: 120px;
    margin-left: 450px;
    margin-bottom: 15px;
}